src/xml/Landing page/help_form.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
targetNamespace="https://www.w3schools.com"
xmlns="https://www.w3schools.com"
elementFormDefault="qualified">

<xs:element name="help_form">
  <xs:complexType>
    <xs:sequence>
      
            <xs:element name="company_name" type="xs:string"/>
            <xs:element name="job_designation" type="xs:string"/>
            <xs:element name="rollno" type="xs:string"/>
            <xs:element name="help_about" type="xs:decimal"/>
            <xs:element name="description" type="xs:string"/>
          
      
    </xs:sequence>
  </xs:complexType>
</xs:element>

</xs:schema>